#footer {
    text-align: left;
}

/* Responsivo */

/* Estilos para dispositivos móveis pequenos (320px) */
@media (min-width: 320px) {

    /* Estilos aqui */

}

/* Estilos para dispositivos móveis de tela um pouco maior (480px) */
@media (max-width: 480px) {

    /* Estilos aqui */
    #footer {
        text-align: center;
    }


}

/* Estilos para tablets e dispositivos móveis com tela maior (768px) */
@media (max-width: 767px) {

    /* Estilos aqui */
    #footer {
        text-align: left;
    }


}

@media (min-width: 768px) {

    /* Estilos aqui */
    #footer {
        text-align: left;
    }
}

@media (max-width: 991px) {

    /* Estilos aqui */

}

/* Estilos para laptops e monitores menores (992px) */
@media (min-width: 992px) {

    /* Estilos aqui */


}

/* Estilos para monitores maiores (1200px) */
@media (min-width: 1200px) {

    /* Estilos aqui */

}